# Scrapping

In [13]:
import bs4
import requests
from bs4 import BeautifulSoup
import urllib.request
import bs4
import pandas as pd

In [18]:

{"voiture": "véhicule à quatre roues", "vélo": "véhicule à deux roues"}
url = "https://www.boursorama.com/cours/"
list_stocks = ["FB", "AAPL", "AMZN", "GPRO", "KO","MCD","NFLX"]

def parsePrice(list_stocks, url, nb_iteration_max =1000):
    
    dico ={"FB" : [], "AAPL" : [], "AMZN" : [], "GPRO" : [], "KO" : [],"MCD" : [],"NFLX" : []}
    i=0
    while True and i<= len(list_stocks)*nb_iteration_max : 
        for s in list_stocks :
            link = url+s+"/"
            page = urllib.request.urlopen(link)
            content = page.read().decode('utf-8')
            soup = bs4.BeautifulSoup(content, "html.parser")
            price = soup.find("span", "c-instrument c-instrument--last").decode_contents(formatter="html")
            dico[s].append(price)
            print("current price of "+ s+ " is : "+ price)
            i+=1
    df = pd.DataFrame(dico)
    
    return df

In [19]:
df = parsePrice(list_stocks, url,10)

current price of FB is : 277.12
current price of AAPL is : 123.24
current price of AMZN is : 3 101.49
current price of GPRO is : 8.65
current price of KO is : 53.05
current price of MCD is : 208.13
current price of NFLX is : 501.09
current price of FB is : 277.12
current price of AAPL is : 123.24
current price of AMZN is : 3 101.49
current price of GPRO is : 8.65
current price of KO is : 53.05
current price of MCD is : 208.13
current price of NFLX is : 501.09

# API

In [31]:
import alpha_vantage
from alpha_vantage.timeseries import TimeSeries
import json


def save_dataset(symbol):
    #api_key1 = "XNZ8ETR377XWBBNZ" #gmail
    #api_key2 = "SRHMKQTD8VRRDM6G"   #sorbonne 
    api_key5 = "H6NZR8D6IEPFIBDM" #hotmail
    #api_key3 = "123MJ7OCUGMAOWGO" #ensae nb
    #api_key4 = "8HING7T582D8TDSF"
    ts = TimeSeries(key=api_key5, output_format='pandas')
    #ts.get_intraday(symbol= symbol ,interval='1min', outputsize='full')
    ts.get_daily(symbol)
    data, meta_data = ts.get_daily(symbol, outputsize='full')

    data.to_csv(f'./{symbol}_daily.csv')

In [32]:
stock_symbole = ['AAPL', 'FB']
for symbole in stock_symbole :
    save_dataset(symbole)

df_aapl = pd.read_csv("AAPL_daily.csv")
df_fb = pd.read_csv("FB_daily.csv")

In [30]:
df_aapl.head()

         date  1. open   2. high  3. low  4. close    5. volume
0  2020-12-10   120.50  123.8700  120.15    123.24   80554376.0
1  2020-12-09   124.53  125.9500  121.00    121.78  115089193.0
2  2020-12-08   124.37  124.9800  123.09    124.38   82225512.0
3  2020-12-07   122.31  124.5700  122.25    123.75   86711990.0
4  2020-12-04   122.60  122.8608  121.52    122.25   78260421.0

In [33]:
df_fb.head()

         date  1. open   2. high  3. low  4. close   5. volume
0  2020-12-10  275.535  278.7300  271.86    277.12  19968316.0
1  2020-12-09  283.660  287.6300  271.75    277.92  25189707.0
2  2020-12-08  286.010  286.4272  281.55    283.40  10747650.0
3  2020-12-07  279.190  288.4900  278.20    285.58  13007665.0
4  2020-12-04  280.300  283.4600  279.30    279.70  10880299.0

# web data reader

Pas besoin d'API key mais nombre de données inferieur

In [34]:
import pandas_datareader as web

In [36]:
#Scraping de données
start = pd.to_datetime('2012-01-01')
end = pd.to_datetime('today')

df_stock_aapl = web.DataReader('AAPL', data_source='yahoo', start=start, end=end)
df_vix = web.DataReader('^VIX', data_source='yahoo', start=start, end=end)

In [39]:
len(df_stock_aapl)

2251

In [40]:
len(df_aapl)

5313